* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.faz {
  width: 134px;
  height: 49px;
  opacity: 1;
  top: 1937px;
  left: 913px;
  border-radius: 5px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  gap: 10px;
  background: rgba(245, 155, 0, 1);
  border: none;
  color: white;
  margin-top: 35px;

}

.op {
  color: rgba(245, 155, 0, 1);
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: uppercase;

}

.do {
  color: rgba(47, 47, 47, 1);
}

.akmal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 83px;
}

p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-transform: capitalize;
  margin-top: 24px;
  width: 460px;
  height: 78;
  opacity: 0.9;
  top: 1824px;
  left: 913px;

}
button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background: #22c55e;   /* yashil */
  color: white;
  cursor: pointer;

  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}