* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.globus {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
  text-align: center;
  padding: 60px 60px;
  gap: 70px;



}

.features h2 {
  color: #2F2F2F;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-transform: capitalize;

}

.features img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  object-fit: contain;

}

.features h2:nth-child(2) {
  margin-left: 40px;
  margin-right: 40px;
  order: 2;

}

.features h2:hover {
  color: #2F2F2F;
  cursor: pointer;
  text-decoration: underline;

  }